# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/amrit.cloud
.env

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local
docs/blog-content-plan.md
docs/blog1_content.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.terragrunt-cache/
.terraform/
.terraform.lock.hcl
terraform.tfstate*
lambda_function.zip
infra/modules/backend/venv/
infra/modules/backend/src/*.dist-info/
infra/modules/backend/src/__pycache__/
infra/modules/backend/src/bin/
infra/modules/backend/src/cffi/
infra/modules/backend/src/cryptography/
infra/modules/backend/src/ecdsa/
infra/modules/backend/src/jose/
infra/modules/backend/src/pyasn1/
infra/modules/backend/src/pycparser/
infra/modules/backend/src/rsa/
infra/modules/backend/src/six.py
infra/modules/backend/src/*.so
infra/modules/email/src/__pycache__/
