.issues-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.issues-body-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 0 5%;
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

@media (max-width: 1380px) {
  .issues-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .issues-header {
    font-size: 25px;
  }
}
